*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Tema */
:root {
    color-scheme: light dark;
    --bg-color: light-dark(#9ACBD0, #78A3A6);
    --bg-color-contact-text: light-dark(#21639E, #184F7E);
    --primary-color: light-dark(#2973B2, #1E5A8E);
    --primary-color-darker: light-dark(#192349, #141D41);
    --text-btn-color: light-dark(#EBECE6, #C3C4BD);
    --border-color: light-dark(#F2EFE7, #292929);
    --content-width: 80rem;
}

body {
  background-color: #48A6A7;
  overflow-y: hidden;
  height: 100%;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  max-width: var(--content-width);
  margin: 0 auto;
  gap: 1rem;
}

#nav-title {
    font-size: 3rem;
    background-color: var(--bg-color);
    border-radius: 0.4rem;
    border: 0.1rem solid var(--border-color);
    color: var(--primary-color);
}

#form {
  background-color: var(--bg-color);
  text-align: start;
  padding: 1rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.2rem;
  width: auto;
}

.form-input-container {
  background-color: var(--bg-color);
  text-decoration: none;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
}

#form-input-name , #form-input-number {
  background-color: white;
  border-radius: 0.3rem;
  color: black;
  padding: 0.2rem;
}

#form-error-text {
  display: none;
  text-align: start;
  color: #be1515;
  padding: 0.2rem;
}

#form-btn {
  background-color: var(--primary-color);
  border-radius: 0.375rem;
  color: var(--text-btn-color);
  transition: all 1s ease-in-out;
  width: 16rem;
  height: 1rem;
  cursor: pointer;
}
/* Estilos para el input */
.input-valid {
  outline: 1px solid green;
}

.input-invalid {
  outline : 1px solid red;
}

#form-btn svg {
  width: 1rem;
  height: 1rem;
}

#form-btn:hover {
  background-color: var(--primary-color-darker);
}

#form-btn:active {
  background-color: var(--primary-color);
  transform: translateY(0.125rem);
}

#contact-list {
    overflow-x: hidden;
    height: auto;
    width: auto;
    background-color: var(--bg-color);
    border-radius: 0.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-wrap: auto;
    list-style-type: none; 
    padding: 2.5rem;
    border: 0.1rem solid var(--border-color);
    max-height: 24rem;
  }
        
  .contact-item {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.625rem; 
    text-align: center;
    padding: 1.3rem;
    background-color: var(--primary-color-darker);
    border: 0.1rem solid var(--border-color);
    color: var(--text-btn-color);
    gap: 0.2rem;
    border-radius: 0.5rem ;
  }
  
  .delete-contact-btn {
    background-color: var(--primary-color);
    border-radius: 0.375rem;
    color: var(--text-btn-color);
    transition: all 1s ease-in-out;
    min-width: 2rem;
    height: 1.7rem;
    cursor: pointer;
  }

  .delete-contact-btn svg {
    width: 1.7rem;
    height: 1.7rem;
  }
  
  .delete-contact-btn:hover {
    background-color: #c01515;
  }
  
  .delete-contact-btn:active {
    background-color: #c01515;
    transform: translateY(0.125rem);
  }
  
  .contact-text {
    background-color: var(--bg-color-contact-text);
    border: 0.1rem solid var(--border-color);
    border-radius: 0.3rem;
    min-width: 4rem;
    padding: 0.2rem;
    color: white;
  }
  
  .edit-contact-btn {
    background-color: var(--primary-color);
    border-radius: 0.375rem;
    color: var(--text-btn-color);
    transition: all 1s ease-in-out;
    min-width: 2rem;
    height: 1.7rem;
    cursor: pointer;
  }

  .edit-contact-btn svg {
    width: 1.7rem;
    height: 1.7rem;
  }
  
  .edit-contact-btn:hover {
    background-color: #008000;
  }

  .edit-contact-btn:active {
    background-color: #008000;
    transform: translateY(0.125rem);
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color:var(--primary-color);
    border-radius: 1rem;
  }


  @media (max-width: 768px) {
    #main {
      max-width: 100%;
  }

  #nav-title {
    font-size: 3rem;
  }

  #nav-title svg {
    width: 2rem;
    height: 2rem;
    flex: flex-start;
  }

  #form {
    font-size: 1rem;
  }

  .form-input-container {
    font-size: 1rem;
    background-color: var(--bg-color);
    text-decoration: none;
    border-radius: 0.1rem;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
  }

  #form-input-name , #form-input-number {
    font-size: 1rem;
  }
  
  #form-error-text {
    font-size:1rem;
  }
  
  #contact-list {
      width: 100%;
      max-width: 100%;
  }
  
  }